@charset "utf-8";

@font-face {
	font-family: 'ABeeZee';
	font-style: italic;
	font-weight: 400;
	src: local('ABeeZee Italic'), local('ABeeZee-Italic'), url(http://themes.googleusercontent.com/static/fonts/abeezee/v1/gdFHbjHcLYROorto_Tq2E7O3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body {
	width: 1202px;
	margin: 0;
	padding: 0;
	background-image: url(../images/bg.png);
}

a {
	color: inherit;
	text-decoration: none;
}

#left {
	width: 300px;
	padding: 50px;
	float: left;
	text-align: right;
}

#left > h1 {
	margin-bottom: 0;
}

#left > span {
	display: block;
}

.muncs {
	font: 300 20pt 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #74837a;
	text-shadow: 1px 1px 0px #ffffff;
}

.ci {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: #388f7e;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px #ffffff;
	line-height: 30pt;
}

.ci.fs34 {
	font-size: 34pt;
}
.ci.fs42 {
	font-size: 42pt;
}

.pres {
	font: italic 400 20pt 'ABeeZee', sans-serif;
	text-transform: lowercase;
	color: #74837a;
	text-shadow: 1px 1px 0px #ffffff;
	display: inline-block;
	width: 33%;
	margin-top: 20px;
}

.line {
	border-bottom: 4px solid #74837a;
	box-shadow: 0px 1px 0px #ffffff;
	display: inline-block;
	width: 27%;
}

.line.left {
	margin-right: 15px;
}

.line.right {
	margin-left: 15px;
}

.hour {
	font: 52pt 'Open Sans', sans-serif;
	color: #e98249;
	text-shadow: 1px 1px 0px #ffffff;
	text-transform: uppercase;
}

.code {
	font: italic 700 37pt/20px 'Open Sans', sans-serif;
	color: #e98249;
	text-shadow: 1px 1px 0px #ffffff;
	text-transform: uppercase;
}

#left .divider {
	border-bottom: 4px solid #74837a;
	box-shadow: 0px 1px 0px #ffffff;
	margin: 40px 0px 40px 0px;
	width: 100%;
}

.group {
	width: 100%;
	text-align: center;
	color: #74837a;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px #ffffff;
	font: bold 10pt/10px sans-serif;
	margin-top: 40px;
}

.group a {
	display: inline-block;
}

.date {
	font: 22pt 'Open Sans', sans-serif;
	font-weight: 800;
	color: #e98249;
	text-shadow: 1px 1px 0px #ffffff;
	text-transform: uppercase;
	line-height: 10px;
}

.group .button {
	text-shadow: none;
	background: #388f7e no-repeat top left;
	border-radius: 30px;
	color: #e8e5e5;
	font: 800 14pt/30px 'Open Sans', sans-serif;
	text-transform: uppercase;
	border: 0;
	height: 36px;
	width: 220px;
	display: inline-block;
	text-align: center;
	float: right;
	cursor: pointer;
}

#left a:link, #left a:visited, #left a:hover, #left a:active {
	color: #e8e5e5;
	text-decoration: none;
}

#content {
	background: #f5f5f5;
	width: 700px;
	padding: 50px;
	float: right;
	border-left: 1px solid #c1c1c1;
	border-right: 1px solid #c1c1c1;
	box-shadow: 0px 30px 30px rgba(0,0,0,0.1);
	color: #909c95;
	font: 12pt/16pt sans-serif;
}

h1,
#content h2 {
	font: 300 25pt/30px 'Open Sans', sans-serif;
	margin: 0px 0px 20px 0px;
	color: #909c95;
	text-shadow: 1px 1px 0px #ffffff;
}

#content .divider {
	border-bottom: 1px solid #e1dfe1;
	margin: 30px 0px 20px 0px;
	width: 100%;
	box-shadow: 1px 1px 0px #ffffff;
}

#content a {
	font-weight: bold;
	text-decoration: underline;
}

#sponsors {
	display: block;
	display: border-box;
	width: 100%;
	background: #ffffff;
	border: 1px solid #c1c1c1;
	margin-top: 30px;
	text-align: center;
}

#sponsors img {
	display: inline-block;
	margin: 10px;
	vertical-align: middle;
}

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats
 */
.clearfix {
	*zoom: 1;
}

.screen-list {
	list-style: square;
	display: none;
}

.thanks {
	list-style: none;
	padding-left: 0;
}

.cols {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}

@media only screen and (max-width: 1200px) {
	body {
		width: 100%;
	}
	#left {
		margin: 50px auto;
		padding: 0;
		float: none;
	}
	#content {
		display: block;
		width: 100%;
		padding: 0;
		border: 0;
		float: none;
	}
	#content h1,
	#content p {
		padding: 30px;
		margin: 0;
	}
	#content p {
		padding-top: 0;
	}
	#content .divider {
		width: 100%;
		margin: 15px 0;
	}
	#sponsors {
		padding: 0;
		border: 0;
		margin: 0;
		width: 100%;
	}
	#sponsors img {
		margin: 30px;
	}
}

@media only screen and (max-width: 600px) {
	#sponsors {
		padding: 30px 0;
	}
	#sponsors img {
		margin: 0;
	}
}
